* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  background-color: rgb(50, 51, 59);
}

li {
  list-style: none;
  font-size: 0.8rem;
}

.icono {
  height: 50px;
}

.section-uno {
  background: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.5)),
    url("../img/hawaii.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-playa {
  background-image: url("../img/honolulu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-footer {
  background-color: rgb(41, 68, 104);
  height: 3rem;
}

.parrafo-footer {
  color: whitesmoke;
  margin: 0;
  font-size: 0.6rem;
  font-weight: bold;
}

.parrafo-footer:hover {
  color: rgb(135, 197, 20);
  transition: 0.4s ease;
}

.button-green {
  background-color: rgb(135, 197, 20);
  padding: 0.3rem;
  border-radius: 5px;
}

.button-green-tickets {
  background-color: rgb(155, 210, 60);
  padding: 0.5rem;
}

.parrafo-dos {
  font-size: 0.9rem;
}

.parrafos-section-tres {
  font-size: 0.8rem;
}

.inputs {
  height: 35px;
}

.section-uno {
  height: 500px;
}

.container-conf {
  bottom: 20px;
  width: 500px;
}

.container-conf-dos {
  position: relative;
}

.container-conf h1 {
  position: absolute;
  right: 80px;
  bottom: 230px;
}

.container-button {
  position: absolute;
  bottom: 0px;
  right: 80px;
}

.parrafo-uno {
  font-size: 0.9rem;
}

.button-tickets {
  background-color: rgb(23, 177, 36);
}

.container-bs {
  background-color: rgb(54, 55, 65);
}

.pagar {
  background-color: rgb(204, 227, 255);
  box-shadow: 1px 1px 1px rgb(224, 237, 255);
}

/* media queries*/

@media screen and (min-width: 1076px) {
  nav {
    height: 80px;
  }

  .parrafo-footer {
    font-size: 0.9rem;
    font-weight: none;
  }
  .parrafos-section-tres {
    font-size: 0.9rem;
  }

  .icono {
    height: 60px;
  }

  li {
    font-size: 1rem;
  }

  .section-dos {
    height: 550px;
  }

  .section-uno {
    height: 800px;
    position: relative;
  }

  .container-conf {
    position: absolute;
    bottom: 200px;
    right: 50px;
    width: 600px;
    height: 300px;
  }

  .container-conf h1 {
    right: 90px;
    bottom: 220px;
  }

  .container-button {
    bottom: 0px;
    right: 85px;
  }

  .container-button button {
    font-size: 1.1rem;
  }

  .parrafo-uno {
    font-size: 1rem;
  }
}
